
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rosarivo', serif;
  
  }
  
  /*HEADER*/
  .bg-light{
    background-color: transparent
  }


  header {
    background-image:
     /* linear-gradient(0,0,0,0.5)*/
      url(/fit-admin/images/course.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  
  }
  
  img{
    border-radius: 50%;
    margin-right: 30px;
  }

  #connexion{
    height: 40%;
    display: flex;
   
    justify-content: center;
    margin-top: 30px;
  }
  
  /*
  height:100vh;
  min-height:550px;
  background-image: url(images/coeur.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  position:relative;
  overflow-y: hidden;
  */
  
  
  
  
  

  /*SHOP*/
  


  #shop{
    height: 100vh;
  
  }
  
  #shop h2{
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    font-size: 70px;
  }
  
  .card{
    box-shadow: 0 0 10px rgba(0,0,0,0.3) ;
    border-radius: 20px;
  }
  
  /*CONTACT*/

  #contact{
    height: 100vh;
  }